In [1]:
import numpy as np
import pandas as pd

In [2]:
arrays = [[1, 2]*3, ['A', 'B', 'C']*2]
columns = pd.MultiIndex.from_arrays(arrays, names=['foo', 'bar'])

In [3]:
df = pd.DataFrame(np.random.randn(2,6),
                 columns=columns,
                 index=pd.date_range('20000103', periods=2))

In [4]:
df

foo                1         2         1         2         1         2
bar                A         B         C         A         B         C
2000-01-03  0.322505 -1.792563  0.334740 -0.221774 -0.017706  0.279211
2000-01-04 -0.380532 -0.656894  0.720274  0.408341  1.230836  0.367388

In [5]:
df2 = pd.DataFrame()

In [6]:
pd.concat([df,df2])

foo                1         2         1         2         1         2
bar                A         B         C         A         B         C
2000-01-03  0.322505 -1.792563  0.334740 -0.221774 -0.017706  0.279211
2000-01-04 -0.380532 -0.656894  0.720274  0.408341  1.230836  0.367388

In [24]:
df

foo                1         2         1         2         1         2
bar                A         B         C         A         B         C
2000-01-03  0.322505 -1.792563  0.334740 -0.221774 -0.017706  0.279211
2000-01-04 -0.380532 -0.656894  0.720274  0.408341  1.230836  0.367388

In [26]:
df[1:2]

foo                1         2         1         2         1         2
bar                A         B         C         A         B         C
2000-01-04 -0.380532 -0.656894  0.720274  0.408341  1.230836  0.367388